.about-container {
  min-height: 100vh;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10rem;

  .about-header {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    color: #c20c18;
    text-align: center;
    font-family: "Pilat Extended book";
    @media screen and (max-width: 768px) {
      font-size: 1.3rem;
    }
    @media screen and (max-width: 500px), screen and (max-height: 500px) {
      font-size: 1rem;
    }
  }
  .about-flex {
    .about-desciption {
      width: 70%;
      max-width: 1330px;
      margin: auto;
      font-family: "Pilat Extended Book";
      @media screen and (max-width: 768px) {
        width: 80%;
      }
      @media screen and (min-width: 2400px) {
        width: 100%;
      }

      .large-text {
        font-size: 1.3rem;
        line-height: 3;
        letter-spacing: 1.8px;
        width: 100%;
        text-align: center;
        @media screen and (max-width: 768px) {
          font-size: 1rem;
        }
        @media screen and (max-width: 500px), screen and (max-height: 500px) {
          font-size: 0.8rem;
        }
      }
    }
  }
}
