.background-container {
  width: 100%;
  height: 100vh;
  background-color: black;
  @media screen and (max-width: 768px) {
    height: 110vh;
  }
  .home-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    @media screen and (max-width: 768px) {
      position: fixed;
    }
    .slide {
      animation: fadeIn 0.2s ease-out;
      @media screen and (max-width: 768px) {
        position: absolute;
        height: 100%;
        width: 100%;
      }
    }
    .slide.active {
      animation: fadeOut 0.3s ease-out 8.7s;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    video {
      height: 100vh;
      width: 100vw;
      object-fit: cover;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    .mobile-render-home {
      display: none;
      height: 100%;
      width: 100%;
      h1 {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 1.6rem;
        letter-spacing: 3px;
        text-align: center;
        font-family: "Pilat Extended demi";
        text-transform: uppercase;
        @media screen and (max-width: 400px), screen and (max-height: 500px) {
          font-size: 1.2rem;
        }
      }
      img {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      @media screen and (max-width: 768px) {
        display: flex;
      }
    }
    .home-titles {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-align: center;
      .first {
        font-size: 12px;
        text-transform: uppercase;
        @media screen and (max-width: 1080px) {
          font-size: 8px;
        }
        @media screen and (max-width: 768px), screen and (max-height: 500px) {
          font-size: 6px;
        }
      }
      .second {
        font-size: 1.4rem;
        padding: 0.3rem 0;
        font-family: "Pilat Extended demi";
        text-transform: uppercase;
        @media screen and (max-width: 1080px) {
          font-size: 1.6rem;
        }
        @media screen and (max-width: 768px) {
          font-size: 1.2rem;
        }
        @media screen and (max-width: 400px), screen and (max-height: 500px) {
          font-size: 0.8rem;
        }
      }
      .third {
        font-size: 15px;
        @media screen and (max-width: 1080px) {
          font-size: 10px;
        }
        @media screen and (max-width: 768px), screen and (max-height: 500px) {
          font-size: 8px;
        }
      }
    }
  }
}

.about-background {
  background-color: rgb(255, 255, 255);
  position: relative;
  z-index: 2;
  .about-container {
    height: 100%;
    width: 80%;
    max-width: 1330px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .about-flex {
      padding: 8rem 0 4rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        margin-top: 3rem;
      }
      img {
        height: 150px;
        margin-bottom: 2rem;
        @media screen and (max-width: 1200px) {
          height: 120px;
        }
        @media screen and (max-width: 768px) {
          position: absolute;
          left: 50%;
          top: 10px;
          z-index: 1;
          transform: translateX(-50%);
          bottom: -8rem;
          height: 100px;
        }
      }
      .about-desciption {
        flex: 1;
        width: 100%;
        max-width: 1330px;
        margin: auto;
        @media screen and (max-width: 768px) {
          width: 80%;
        }
        @media screen and (min-width: 2400px) {
          width: 100%;
        }

        .large-text {
          font-size: 1.1rem;
          line-height: 3;
          letter-spacing: 1.8px;
          width: 100%;
          text-align: center;
          @media screen and (max-width: 1200px) {
            font-size: 0.8rem;
          }
          @media screen and (max-width: 768px) {
            font-size: 0.8rem;
            text-align: center;
          }
          @media screen and (max-width: 500px), screen and (max-height: 500px) {
            font-size: 0.5rem;
          }
          .red {
            color: #c20c18;
          }
        }
      }
    }
  }
}

.work-container {
  position: relative;
  z-index: 2;
  padding: 5rem 0 10rem 0;
  background-color: rgb(255, 255, 255);
  text-transform: uppercase;
  @media screen and (max-width: 1080px) {
    padding: 160px 0rem;
  }
  @media screen and (max-width: 500px), screen and (max-height: 500px) {
    padding: 0 0 80px 0rem;
  }
  @media screen and (max-width: 500px), screen and (max-height: 500px) {
    padding: 0 0 80px 0rem;
  }

  .heading {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 2rem;
    padding: 0 8px;

    h1 {
      font-family: "Pilat Extended";
      color: black;
      transition: 0.2s ease-out;
      &:hover {
        transform: scale(1.025);
      }
    }
    p {
      margin-top: 0.5rem;
      font-size: 0.6rem;
      color: black;
    }
    @media screen and (max-width: 1080px) {
      font-size: 1rem;
    }
    @media screen and (max-width: 768px), screen and (max-height: 500px) {
      font-size: 0.8rem;
      margin-bottom: 1rem;
    }
  }
  .work-col {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: 1rem auto 0 auto;
    box-shadow: 0px 0px 9px -1px rgba(105, 105, 105, 1);
    @media screen and (max-width: 1000px) {
      grid-template-columns: repeat(1, 1fr);
    }
    @media screen and (max-width: 768px) {
      box-shadow: none;
    }
    @media screen and (max-width: 500px) {
      grid-template-columns: repeat(1, 1fr);
    }
    .block {
      position: relative;
      z-index: 4;
      cursor: pointer;
      overflow: hidden;
      @media screen and (max-width: 650px) {
        width: 100%;
        margin-bottom: 0px;
      }
      &:hover video {
        transform: scale(1.1);
      }
      &:hover .text {
        display: flex;
      }

      .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
        font-family: "Pilat Extended";
        display: none;
        h2 {
          font-size: 1rem;
          font-weight: bolder;
          color: white;
          transition: all 0.3s ease-in-out;
          text-align: center;
          @media screen and (max-width: 850px) {
            font-size: 0.6rem;
          }
          @media screen and (max-width: 768px), screen and (max-height: 500px) {
            font-size: 0.5rem;
          }
        }
      }
      .image-hover-zoom {
        overflow: hidden;
        aspect-ratio: 16/9;
        video {
          width: 100%;
          height: 100%;
          aspect-ratio: 16/9;
          transition: all 0.3s ease-in-out;
          z-index: 2;
          &::-webkit-media-controls-start-playback-button {
            display: none !important;
            -webkit-appearance: none;
          }
          @media screen and (max-width: 768px) {
            display: none;
          }
        }
        img {
          width: 100%;
          height: 100%;
          aspect-ratio: 16/9;
          transition: all 0.3s ease-in-out;
          z-index: 2;
          display: none;
          @media screen and (max-width: 768px) {
            display: block;
          }
        }
      }
    }
  }
  .all {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    @media screen and (max-width: 768px) {
      margin-top: 2rem;
    }
    a {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      transition: all 0.3s ease;
      text-transform: uppercase;
      color: #000;
      border: 2px solid black;
      height: 110px;
      width: 110px;
      border-radius: 50%;
      font-family: "Pilat Extended";
      font-weight: 900;
      font-size: 12px;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.1);
        background-color: #000;
        color: #fff;
      }
      @media screen and (max-width: 768px), screen and (max-height: 500px) {
        height: 80px;
        width: 80px;
        font-size: 10px;
      }
      @media screen and (max-width: 500px) {
        height: 60px;
        width: 60px;
        font-size: 8px;
      }
    }
  }
}

.partner-container {
  background-color: rgb(234, 234, 234);
  position: relative;
  z-index: 2;
  .partners-headers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    font-family: "Pilat Extended";
    gap: 0.5rem;
    color: #000;
    h1 {
      padding-top: 2rem;
      transition: 0.2s ease-out;
      @media screen and (max-height: 500px) {
        font-size: 25.6px;
      }
      @media screen and (max-width: 500px) {
        font-size: 0.9rem;
      }
      &:hover {
        transform: scale(1.025);
      }
    }
    p {
      font-size: 0.6rem;
      @media screen and (max-height: 500px) {
        font-size: 0.6rem;
      }
      @media screen and (max-width: 500px) {
        font-size: 0.5rem;
      }
    }
  }
  .logo-container {
    width: 90%;
    max-width: 1920px;
    margin: auto;
    padding: 3rem 0 1rem 0;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 300px);
    grid-gap: 1rem;
    @media screen and (max-width: 1300px) {
      grid-template-columns: repeat(3, 200px);
    }
    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(3, 250px);
    }
    @media screen and (max-width: 950px) {
      grid-template-columns: repeat(3, 200px);
    }
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(4, 120px);
    }
    @media screen and (max-width: 650px) {
      grid-template-columns: repeat(3, 150px);
    }
    @media screen and (max-width: 500px) {
      grid-template-columns: repeat(3, 100px);
    }
    .box {
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 768px) {
        height: 150px;
      }
      @media screen and (max-width: 500px) {
        height: 80px;
      }
      img {
        max-height: 100px;
        max-width: 100px;
        @media screen and (max-width: 1200px) {
          max-height: 100px;
          max-width: 100px;
        }
        @media screen and (max-width: 900px) {
          max-height: 80px;
          max-width: 80px;
        }
        @media screen and (max-width: 768px) {
          max-height: 60px;
          max-width: 60px;
        }
        @media screen and (max-width: 500px) {
          max-height: 40px;
          max-width: 40px;
        }
      }
    }
  }
}

.contactbg-container {
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 90vh;
  position: relative;
  z-index: 2;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
