.partner-container {
  // height: 100vh;
  max-width: 1330px;
  margin: 4rem auto;
  @media screen and (max-width: 768px) {
    display: none;
  }

  .partners-headers {
    text-align: center;
    text-transform: uppercase;
    // font-size: 1.3rem;
    // margin-bottom: 4rem;
    font-family: "Pilat Extended";
    color: #000;
    h1 {
      // -webkit-text-stroke: 1.7px #000;
      // -webkit-text-fill-color: transparent;
      margin-bottom: 0.5rem;
      @media screen and (max-height: 500px) {
        font-size: 25.6px;
      }
    }
    p {
      font-size: 0.8rem;
      @media screen and (max-height: 500px) {
        font-size: 0.6rem;
      }
    }
    .space {
      margin: 0 5px;
    }
  }
  .logo-container {
    max-width: 1330px;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    align-items: center;
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .box {
      height: 200px;
      border: 1px solid rgb(160, 160, 160);
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        margin: 2rem 6rem;
        max-height: 120px;
        max-width: 120px;
        @media screen and (max-width: 1200px) {
          max-height: 100px;
          max-width: 100px;
        }
        @media screen and (max-width: 900px) {
          max-height: 80px;
          max-width: 80px;
        }
      }
      @media screen and (max-width: 1300px) {
        height: 180px;
        width: 250px;
      }
      @media screen and (max-width: 1200px) {
        height: 140px;
        width: 220px;
      }
      @media screen and (max-width: 950px) {
        height: 130px;
        width: 190px;
      }
    }
  }
}
