.work-container {
  min-height: 100vh;
  padding: 0px 4rem;
  padding-top: 160px;
  padding-bottom: 80px;
  text-transform: uppercase;
  @media screen and (max-width: 1080px) {
    padding: 160px 0rem;
  }
  @media screen and (max-width: 500px), screen and (max-height: 500px) {
    padding: 50px 0.5rem;
  }

  .heading {
    // font-size: 1.1rem;
    text-align: center;
    margin-bottom: 2rem;
    padding: 0 8px;
    h1 {
      font-family: "Pilat Extended";
      color: black;
    }
    @media screen and (max-width: 1080px) {
      font-size: 1rem;
    }
    @media screen and (max-width: 768px), screen and (max-height: 500px) {
      font-size: 0.8rem;
      margin-bottom: 1rem;
    }
  }
  .work-col {
    position: relative;
    width: 100%;
    // padding: 0 32px;
    box-sizing: border-box;
    @media screen and (max-width: 768px) {
      // padding: 0 16px;
    }
    .block {
      cursor: pointer;
      display: inline-block;
      position: relative;
      width: 50%;
      padding: 1.3rem 8px;
      margin-bottom: 20px;
      box-sizing: border-box;
      vertical-align: top;
      color: #000;
      z-index: 4;
      overflow: hidden;
      @media screen and (max-width: 650px) {
        width: 100%;
        margin-bottom: 0px;
        padding: 0.8rem 8px;
      }
      // &:hover h2 {
      //   transform: translateX(5px) scale(1.04);
      // }
      &:hover img {
        transform: scale(1.1);
        // filter: brightness(60%);
      }

      .text {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Pilat Extended Book";
        h2 {
          font-size: 0.8rem;
          transition: all 0.3s ease-in-out;

          @media screen and (max-width: 850px) {
            font-size: 0.6rem;
          }
          @media screen and (max-width: 768px), screen and (max-height: 500px) {
            font-size: 0.5rem;
          }
        }
        p {
          color: rgb(160, 158, 158);
          font-size: 0.6rem;
          @media screen and (max-width: 850px) {
            font-size: 0.4rem;
          }
          @media screen and (max-width: 768px), screen and (max-height: 500px) {
            font-size: 0.3rem;
          }
        }
      }
      .image-hover-zoom {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        // height: 200px;
        img {
          max-width: 100%;
          height: 100%;
          aspect-ratio: 16/9;
          transition: all 0.3s ease-in-out;
          z-index: 2;
        }
      }
    }
  }
  .all {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    a {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      transition: all 0.3s ease;
      text-transform: uppercase;
      color: #000;
      position: relative;
      bottom: 0;
      border: 2px solid black;
      height: 140px;
      width: 140px;
      border-radius: 50%;
      font-family: "Pilat Extended";
      font-weight: 900;
      font-size: 16px;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.1);
        background-color: #000;
        color: #fff;
      }
      @media screen and (max-width: 768px), screen and (max-height: 500px) {
        height: 110px;
        width: 110px;
        font-size: 12px;
      }
      @media screen and (max-width: 500px) {
        height: 90px;
        width: 90px;
        font-size: 10px;
      }
    }
  }
}
