.footer-container {
  height: 40vh;
  background-color: #1e1e1e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  .content-container {
    margin: auto;
    text-align: center;
    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
    @media screen and (max-width: 500px) {
      font-size: 10px;
    }
    .nav-section {
      ul {
        a {
          border-right: 1px solid white;
          //   border-left: 1px solid white;
          padding: 0 1rem;
          color: white;
          &:hover {
            color: #c31c28;
          }
          &:last-child {
            border: none;
          }
          @media screen and (max-width: 768px) {
            padding: 0 0.5rem;
            font-size: 12px;
          }
          @media screen and (max-width: 500px) {
            padding: 0 0.2rem;
            font-size: 8px;
          }
          // @media screen and (max-width: 510px) {
          //   font-size: 6px;
          // }
          // @media screen and (max-width: 768px) {
          //   font-size: 12px;
          // }
        }
      }
    }
    .email-section {
      margin-top: 3rem;
      .underline {
        text-decoration: underline;
        color: #c31c28;
        &:hover {
          color: rgb(255, 117, 117);
        }
      }
    }
    .copyright {
      margin-top: 3rem;
    }
  }
}
