.workpage-container {
  min-height: 100vh;
  padding-top: 80px;
  max-width: 2400px;
  margin: auto;
  @media screen and (max-width: 768px) {
    padding-top: 40px;
    margin-bottom: 2rem;
  }

  .heading {
    font-size: 1rem;
    text-align: center;
    margin: 2rem;
    font-family: "Pilat Extended Book";
    @media screen and (max-width: 1080px) {
      font-size: 0.75rem;
    }
    @media screen and (max-width: 500px) {
      display: none;
    }

    @media screen and (max-width: 350px) {
      font-size: 0.65rem;
    }
  }

  .work-nav {
    transition: all 0.2s ease-in-out;
    @media screen and (max-width: 500px) {
      display: none;
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem 0;
      @media screen and (max-width: 1080px) {
        font-size: 0.75rem;
      }
      @media screen and (max-width: 850px) {
        font-size: 0.65rem;
      }
      @media screen and (max-width: 768px) {
        font-size: 0.5rem;
      }

      li {
        border-right: 1px solid black;
        padding: 0 1rem;
        cursor: pointer;
        position: relative;
        @media screen and (max-width: 600px) {
          padding: 0 0.3rem;
        }
        @media screen and (max-width: 500px) {
          padding: 0 0.2rem;
        }
        &:last-child {
          border: none;
        }

        &:hover {
          color: #c31c28;
        }
      }
    }
  }
  .mobile-title {
    display: none;
    @media screen and (max-width: 500px) {
      display: block;
      text-align: center;
      margin-bottom: 2rem;
      font-size: 0.7rem;
      font-family: "Pilat Extended Book";
      margin-top: 2rem;
    }
  }
  .work-col {
    position: relative;
    width: 95%;
    margin: auto;
    padding: 0 32px;
    padding-bottom: 2.5rem;
    padding-top: 2rem;
    box-sizing: border-box;
    margin-bottom: 4rem;
    @media screen and (max-width: 768px) {
      padding: 0 16px;
    }
    @media screen and (max-width: 500px) {
      padding: 0 12px;
    }
    .block {
      display: inline-block;
      position: relative;
      width: 50%;
      padding: 10px 10px;

      box-sizing: border-box;
      vertical-align: top;
      color: #fff;
      z-index: 4;
      overflow: hidden;
      cursor: pointer;
      &:hover .text {
        visibility: visible;
        scale: 1;
      }
      &:hover img {
        filter: brightness(30%);
        // -webkit-text-stroke: #000;
      }

      @media screen and (max-width: 768px) {
        width: 100%;
        margin-bottom: 12px;
      }
      @media screen and (max-width: 450px) {
        padding: 0;
      }

      .text {
        visibility: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.2s ease;
        width: 100%;
        text-align: center;
        z-index: 3;
        font-size: 0.9vw;
        @media screen and (max-width: 768px) {
          position: absolute;
          visibility: hidden;
        }
        &:hover img {
          transform: scale(1.4);
        }
      }
      .image-hover-zoom {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          aspect-ratio: 16/9;
          transition: all 0.3s ease-in-out;
          z-index: 2;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
