@font-face {
  font-family: "Pilat Extended Book";
  src: local("./font/Pilat Extended Book"), local("PilatExtended-Book"),
    url("./font/PilatExtended-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pilat Extended";
  src: local("./font/Pilat Extended Thin"), local("PilatExtended-Thin"),
    url("./font/PilatExtended-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Pilat Extended Demi";
  src: local("./font/Pilat Extended DemiBold"), local("PilatExtended-DemiBold"),
    url("./font/PilatExtended-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Pilat Extended";
  src: local("./font/Pilat Extended Black"), local("PilatExtended-Black"),
    url("./font/PilatExtended-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

.app-container {
  font-family: "Pilat Extended Book";
  margin: 0 auto;
  width: 100vw;
  overflow: hidden;
}

.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Pilat Extended";
  font-weight: 900;
  background-color: #1e1e1e;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;

  h1 {
    font-size: 2.3rem;
    padding-bottom: 0.5rem;
    color: #c20c18;
    margin-top: 10px;
  }
}

.absolute {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #1e1e1e;
  z-index: 10000;
}
